@import '../../../public/css/variables';

.Home {
  
  .container{
    background-color: #fff;
    padding-top: 20px;
  }
  .Map{
    min-height: 400px;
    margin: 20px auto;
  }
  button {
    margin: auto 5px;
  }
  .LocationRows{
    .row {
      padding: 5px;
    }
    .location-value{
      color: #ff0000;
    }
    span {
      margin: auto;
    }
  }
}